@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
}

body img {
    width: 100%;
}

/*------------------BIO-------------------*/

.bio {
    margin: auto;
    height: 701px;
    width: 1440px;
    background-image: url(Pict/bg1-02.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 1440px 701px;
    display: grid; 
    isolation: isolate;
    background-size: cover;
}


.propic img {
    position: relative;
    width: 383.3704px;
    height: 378.5438px;
    margin-left: 150px;
    margin-right: 41px;
    margin-top: 150px;
    opacity: 0;
    transform: scale(0);
    animation: scaleIn 1s forwards 1.2s;
}

.bio .aboutme h1 {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    margin: auto;
    margin-left: 566px;
    bottom: 390px;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInUp 1s forwards 0.3s;
}

.bio .aboutme h2 {
    position: relative;
    font-size: 19px;
    font-weight: 700;
    text-align: left;
    margin: auto;
    margin-left: 568px;
    bottom: 375px;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInUp 1s forwards 0.5s;
}

.bio .aboutme h3 {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    margin: auto;
    margin-left: 568px;
    bottom: 395px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s forwards 0.9s;
}

.bio .aboutme p {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    width: 676.6853px;
    margin: auto;
    margin-left: 568px;
    bottom: 405px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s forwards 0.7s;
}

.interest img {
    margin: auto;
    position: relative;
    width: 400.0627px;
    height: 120px;
    margin-left: 540px;
    bottom: 425px;
    opacity: 0;
    transform: rotateY(180deg) scale(0);
    animation: rotateAndScaleIn 1s forwards 1.5s;
}

@keyframes fadeInUp {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

@keyframes scaleIn {
    to {
    opacity: 1;
    transform: scale(1);
    }
}

@keyframes rotateAndScaleIn {
    to {
    opacity: 1;
    transform: rotateY(0) scale(1);
    }
}


/*------------------WORKS-------------------*/

.works {
    background-position-x: center;
    margin: auto;
    height: 100%;
    width: 1440px;
    height: 1100px;
    background-image: url(Pict/bg2-02.png);
    background-repeat: no-repeat;
    background-size: 1440px 1100px;
    place-content: center;
    background-size: cover;
}

.works .title2 img {
    position: relative;
    margin: 0;
    margin-top: 50px;
    margin-left: 570px;
    width: 356.5708px;
    height: 133.4524px;
}

.myworks {
    overflow: hidden;
    position: relative;
    margin-top: 15px;
}

.swiper {
    width: 80%;
    height: 80%;
}

.swiper-wrapper {
    transition: transform 0.6s ease;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    transform: translateY(-65%);
    color: #ffffff !important;
    fill: rgb(255, 255, 255) !important;
    stroke: rgb(255, 255, 255) !important;
    transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet {
    background-color: #000; 
    width: 14px;
    height: 14px;
    margin: 0 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #fff; 
    transform: scale(10.3); 
}

/*------------------CONTACT-------------------*/

.contact {
    background-position-x: center;
    margin: auto;
    width: 1440px;
    height: 220.3043px;
    background-image: url(Pict/bg3-02.png);
    background-repeat: no-repeat;
    background-size: 1440px 220.3043px;
    place-content: center;
    background-size: cover;
}

.contact h2 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: auto;
    top: 40px;
}

.contact .socmed img {
    width: 71px;
    height: 71px;
}

.socmed {
    position: relative;
    margin: 0;
    margin-top: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center; 

}

.socmed ul {
    list-style: none; 
    display: flex; 
    gap: 10px; 
}

.socmed li {
    flex: 1;
    -webkit-transition-property: transform;
    transition-property: transform; 
}

.socmed li :hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}